<md-toolbar color="primary">MdTable Layouter</md-toolbar>

<div style="margin: 0 1rem;">
	<md-select placeholder="Width" name="size" ngModel #size="ngModel">
		<md-option *ngFor="let width of widths" [value]="width">{{width}}</md-option>
	</md-select>
</div>

<div class="table-container">
	<mdtl-table
		style="display: block;" [style.width]="size.value"
		[columns]="columns" [displayedColumns]="displayedColumns"
	></mdtl-table>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
	<button md-button color="primary" (click)="addColumn()" [disabled]="columns.length > 20">
		<md-icon>add</md-icon> NEW COLUMN
	</button>
	<button md-button color="primary" (click)="generateCSS()">GENERATE CSS</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start">
	<mdtl-column
		*ngFor="let column of columns"
		[column]="column"
		(columnChange)="setColumn(column, $event)"
		fxFlex="170px"
	></mdtl-column>
</div>

